* {
	font-size: x-large;
}

button#lap {
	padding: 24px;
	position: sticky;
	top: 8px;
	width: 100%;
}

li {
	animation: glow 5s;
}

@keyframes glow {
	from { background-color: gold;  }
	to   { background-color: white; }
}
